.i-box {
  padding: 10px;
  hover: red;
  border-bottom: 1px solid #ccc;
}
.author {
  margin-top: 8px;
  color: #9c9c9c
}
.txt1{
  display: inline-block;
  width: 50%;
  text-align: left;

}
.txt2{
  display: inline-block;
  width: 50%;
  text-align: right;
}
